@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Account.Localization
@using Volo.Abp.Account.Settings
@using Volo.Abp.Settings
@*@model Volo.Abp.Account.Web.Pages.Account.LoginModel*@
@model BnBYachts.Pages.Account.CustomLoginModel
@inject IHtmlLocalizer<AccountResource> L
@inject Volo.Abp.Settings.ISettingProvider SettingProvider
@*<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no  shrink-to-fit=no">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
              integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
              crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
              rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>BnB Yachets</title>
        <link rel="stylesheet" href="./css/bootstrap.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet"
              type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
        <link rel="stylesheet" href="sass/style-en.css">
    </head>*@


@* New Head *@
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no  shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
          integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>BnB Yachets</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet"
          type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
    <link rel="stylesheet" href="sass/style-en.css">
    <link href="~/sass/style-en.css" rel="stylesheet" />
</head>

@* End Head *@

<div class="card loginard" style="background-color: #ffffff">
    <div class="card-header" style="background-color: #ffffff">
        <div class="custom-text-center">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <img src="~/images/logo.png" class="text-center" style="width:100px;height:60px;" />
                    </div>
                </div>
            </div>
         
            <h4 class="bold text-center">@L["Login"]</h4>
        </div>
        <div class="card-body" style="background-color: #ffffff">
            @if (Model.EnableLocalLogin)
            {
            <form method="post">
                <div class="custom-input-field">
                    <label asp-for="LoginInput.UserNameOrEmailAddress">Email</label>
                    <input asp-for="LoginInput.UserNameOrEmailAddress" class="custom-input" />
                    <span asp-validation-for="LoginInput.UserNameOrEmailAddress" class="fa fa-fw fa-eye field-icon toggle-password text-danger"></span>
                </div>
                @*<div class="custom-input-field pswd-field">
            <label asp-for="LoginInput.Password"></label>
            <div class="p-relative">
                <input asp-for="LoginInput.Password" id="password-field" type="password" class="custom-input" name="password" value="12345" data-toggle="tooltip" data-html="true" title="Choosing a Password: <br /> Your Password Must Include:" />
                <span asp-validation-for="LoginInput.Password" toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>


            </div>
        </div>*@

                <div class="custom-input-field ">
                    <label asp-for="LoginInput.Password"></label>
                    <input asp-for="LoginInput.Password"  class="custom-input"  />
                    <span asp-validation-for="LoginInput.Password" class="text-danger"></span>
                </div>

                @*<div class="container py-4">*@
                <!--<div class="row">
        <div class="col-12">
            <abp-row>
                <div class="col-6">-->
                @* <abp-column>*@

                <!--<label class="custom-checkbox m-0">


        <input type="checkbox">
        <p class="small-text">Remember Me</p>
        <span class="checkmark"></span>


    </label>-->
                @*</abp-column>*@
                <!--</div>
    <div class="col-6">-->
                @* <abp-column>*@
                @*<a href="@Url.Page("./ForgotPassword", new {returnUrl = Model.ReturnUrl, returnUrlHash = Model.ReturnUrlHash})" class="underline-blue-link small-text" data-bs-toggle="modal" data-bs-target="#forget-psd-modal" data-bs-dismiss="modal">@L["ForgotPassword?"]</a>*@
                @* </abp-column>*@
                <!--</div>
    </abp-row>-->
                @*<div class="custom-flex-between py-2">
            <abp-row>



            </abp-row>
        </div>*@
                <!--</div>
        </div>
    </div>-->
                <div class="custom-flex-between py-4">
                    <div class="left-content">
                        <label class="custom-checkbox m-0">
                            <input type="checkbox">
                            <p class="small-text">Remember Me</p>
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="right-content">
                        <a href="http://localhost:4200/" class="underline-blue-link small-text" data-bs-toggle="modal" data-bs-target="#forget-psd-modal" data-bs-dismiss="modal">Forgot Password?</a>
                        @*<a href="@Url.Page("./ForgotPassword", new {returnUrl = Model.ReturnUrl, returnUrlHash = Model.ReturnUrlHash})" class="underline-blue-link small-text" data-bs-toggle="modal" data-bs-target="#forget-psd-modal" data-bs-dismiss="modal">@L["ForgotPassword?"]</a>*@

                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col text-center">
                            <abp-button type="submit" button-type="Primary" name="Action" value="Login" class="custom-btn blue big-btn text-center">@L["Login"]</abp-button>
                            @*@if (Model.ShowCancelButton)
                    {
                        <abp-button type="submit" button-type="Secondary" formnovalidate="formnovalidate" name="Action" value="Cancel" class="btn-block btn-lg mt-3">@L["Cancel"]</abp-button>
                    }*@
                        </div>
                    </div>
                </div>

                <div class="text-center py-2">
                    @if (await SettingProvider.IsTrueAsync(AccountSettingNames.IsSelfRegistrationEnabled))
                    {
                        @*<strong>
                    @L["AreYouANewUser"]
                    <a href="@Url.Page("./Register", new {returnUrl = Model.ReturnUrl, returnUrlHash = Model.ReturnUrlHash})" class="text-decoration-none">@L["Register"]</a>
                </strong>*@



                    }
                </div>
            </form>
            }

            @if (Model.VisibleExternalProviders.Any())
            {
                <div class="mt-2">
                    <h5>@L["OrLoginWith"]</h5>
                    <form asp-page="./Login" asp-page-handler="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" asp-route-returnUrlHash="@Model.ReturnUrlHash" method="post">
                        @foreach (var provider in Model.VisibleExternalProviders)
                        {
                            <button type="submit" class="btn btn-primary m-1" name="provider" value="@provider.AuthenticationScheme" title="@L["LogInUsingYourProviderAccount", provider.DisplayName]">@provider.DisplayName</button>
                        }
                    </form>
                </div>
            }

            @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
            {
        <div class="alert alert-warning">
            <strong>@L["InvalidLoginRequest"]</strong>
            @L["ThereAreNoLoginSchemesConfiguredForThisClient"]
            try to <a href="http://localhost:4200/">Login</a> Here
            @*<p class="small-text light">Try to do Login? <a href="@Url.Page("./Login", new {returnUrl = Model.ReturnUrl, returnUrlHash = Model.ReturnUrlHash})" class="underline-blue-link" data-bs-toggle="modal" data-bs-target="#signup-modal" data-bs-dismiss="modal">@L["Login"]</a></p>*@

        </div>

            }


        </div>
        </div>
        </div>







        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js"
                integrity="sha512-BmM0/BQlqh02wuK5Gz9yrbe7VyIVwOzD1o40yi1IsTjriX/NGF37NyXHfmFzIlMmoSIBXgqDiG1VNU6kB5dBbA=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
        <script src="~/js/select.js"></script>
        <script src="~/js/custom.js"></script>
